h1{
  text-align: center;
  font-family: 'Montserrat';
  margin: 5% auto 1% auto;
  color: #30fe0c;
  font-size: 300%;
}

h2{
  text-align: center;
  font-family: 'Montez';
}

main p{
  text-align: center;
  margin-bottom: 4%;
}

body{
  background-color: #f0dc82;
}

/* navbar navigation section */

.nav-link{
	font-family: 'Montez', cursive;
	font-size: 1.6rem;
}

.navbar-brand{
	font-family: 'Montez', cursive;
	font-size: 3rem;
	padding: 1% 3% 1% 0;
}

.navbar-nav li{
  transition: 0.8s;
}

.navbar-nav li:hover{
  background-color: #ff4c68;
  border-radius: 15px;
}

/* contet */

.title{
  padding: 0 17% 0 17%;
}



/* redes sociales */

.fa-instagram{
  font-size: 1650%;
  color: purple;
  transition: 1s;
}

.fa-instagram:hover{
  font-size: 1800%;
	color: #F782E7;
	transition: 1s;
}

.fa-facebook-f{
  font-size: 1650%;
	color: blue;
	transition: 1s;
}

.fa-facebook-f:hover{
  font-size: 1800%;
	color: lightblue;
}

.social{
  text-align:center;
}
