body{
	width: 70%;
	margin: auto;
	max-width: 70%;
	min-width: 70%;
}

header h1{
	text-align: center;
}

nav{
	display: block;
	text-align: center;
}

nav a{
	margin: 10%;
}

.fas{
   color: blue;
   font-size: 20px;
}

.fas:hover{
	color: green;
	font-size: 20px;
}

.fab{
	color: purple;
	font-size: 34px;
	text-align: center;
}

.fab:hover{
	color: #F782E7;
	font-size: 38px;
	text-align: center;
}

#fa-facebook-f{
	color: blue;
	font-size: 34px;
	text-align: center;
}

#fa-facebook-f:hover{
   color: #ADDFEE;
   font-size: 40px;
   text-align: center;
}

#Whats{
	color: green;
	font-size: 35px;
	text-align: center;
}

#Whats:hover{
	color: red;
	font-size: 40px;
	text-align: center;
}

#contact-ways a{
  margin: 20% 6%;
}

article h2{
	text-align: center;
	margin-top: 4%;
}

#contact-ways-container ul{
	list-style: none;
	text-align: center;
}

#contact-ways li{
		margin: 7% auto;
}

