body{
	background-color: #FA9C84;
}

main{
	display: block;
	text-align: center;
	margin: 10% auto 7% auto;
}

.main a{
  font-family: 'Pattaya', sans-serif;
	font-size: 600%;
	text-decoration: none;
	transition: 0.6s;
	color: #946BFA;
}

.main a:hover{
	font-family: 'Pattaya', sans-serif;
	font-size: 650%;
	text-decoration: none;
	color: #fff;
}

@media (max-width: 765px){
  .main a{
		font-size: 400%;
	}

	h6{
		padding-top: 7%
	}

	footer{
		margin: 3% 0 2%;
		padding: 3% 1%;
	}

}

h6{
	padding-top: 15%;
	text-align: center;
}

footer{
	margin: 5% 0 2%;
	padding: 5% 3%;
}

/* section{
	background-color: #d8bfd8;
} */

article{
	/* background-color: #add8e6; */
	background-color: #5FFAC7;
}

/* navbar */

.nav-link{
	font-family: 'Montez', cursive;
	font-size: 1.8rem;
}

.navbar-brand{
	font-family: 'Montez', cursive;
	font-size: 3rem;
	padding: 1% 3% 1% 0;
}

nav li{
	transition: 0.8s;
}

nav li:hover{
	 background-color:  #ff4c68;
	 border-radius: 15px;
}

/* Social media */

#insta{
	font-size: 1650%;
	color: purple;
	transition: 1s;
}

#face{
	font-size: 1400%;
	color: blue;
	transition: 1s;
}

#insta:hover{
	font-size: 1800%;
	color: #F782E7;
	transition: 1s;
}

#face:hover{
	font-size: 1800%;
	color: lightblue;
}

/* features */

.features{
	padding: 3% 10%;
}

.features-box{
	text-align: center;
	padding: 4%;
}

.logo, img{
	border-radius: 100%;
	width: 33%;
}

/* features icons */

.fa-bullseye{
	font-size: 4rem;
	color: #FAED52;
	transition: 0.7s;
}

.fa-hands-helping{
	font-size: 4rem;
	color: #FAED52;
	transition: 0.7s;
}

.fa-dollar-sign{
	font-size: 4rem;
	color: #FAED52;
	transition: 0.7s;
}

.fa-bullseye:hover{
	font-size: 5rem;
	color: #fff;
}

.fa-hands-helping:hover{
	font-size: 5rem;
	color: #fff;
}

.fa-dollar-sign:hover{
	font-size: 5rem;
	color: #fff;
}

.features-box h3{
	font-family: 'Montserrat'
}

.features-box p{
	font-size: 1.1rem;
	color: #4a4f3f;
}

/* artivle history */

.history{
	text-align: center;
	padding: 3% 3% 4% 3%;
	margin-bottom: 1%;
}


/* footer */

#Client-service{
	text-align: center;
}

#Client-service h2{
	font-family: 'Montserrat';
  padding-bottom: 6%;
}
